.flex-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex {
    display: flex;
    justify-content: start;
    align-items: center;
}

.navbar {
    background-color: #dfefed;
    /* box-shadow: 0px 1px 2px 0 rgba(0,0,0,0.4); */
}

.gapping {
    padding: 1.5rem 10rem 5px;
}

.link {
    padding: 0.24rem;
    margin: 0.5rem;
    text-decoration: none;
    font-size: 18px;
}

.link:visited {
    color: initial;
    text-decoration: none;
}

.link:hover {
    color: initial;
}

.sticky-navbar {
    margin-top: 10px;
}

.signup-btn {
    border: 1px solid #eee;
    padding: 5px;
}